<p>
  <strong>Titre:</strong>
  <%= @annonce.titre %>
</p>

<p>
  <strong>Entreprise:</strong>
  <%= @annonce.entreprise %>
</p>

<p>
  <strong>Type d'offre: :</strong>
  <%= @annonce.type_offre %>
</p>

<p>
  <strong> Description de l'annonce: :</strong>
  <%= @annonce.description %>
</p>

<p>
  <strong>Durée: :</strong>
  <%= @annonce.duree %>
</p>

<p>
  <strong>Date de début: :</strong>
  <%= @annonce.date_debut %>
</p>

<p>
  <strong>Moyen de contact: :</strong>
  <%= @annonce.moyen_contact %>
</p>